// Default colors
$colors: (
    white: rgb(255, 255, 255),
    black: rgb(0, 0, 0)
);

$_col: (
    latte: rgb(224, 183, 133),
    blue: rgb(103, 186, 196),
    green: rgb(94, 186, 175),
    yellow: rgb(246, 195, 71),
    red: rgb(240, 90, 51),
    brown: rgb(122, 49, 35)
);

@each $name, $color in $_col {
    $shade: 60, 40, 20;
    $tint: 20, 40, 60, 80, 90;
    
    $new: ($name: $color);
    $colors: map-merge($colors, $new);

    @each $percent in $shade {
        $val: mix(black, $color, $percent);
        $new: (#{$name}-shade-#{$percent}: $val);
        $colors: map-merge($colors, $new);
    }

    @each $percent in $tint {
        $val: mix(white, $color, $percent);
        $new: (#{$name}-tint-#{$percent}: $val);
        $colors: map-merge($colors, $new);
    }
}
