<footer id="footer" class="ring-2 bg-blue-dark" role="contentinfo">
  <div class="ring-0 container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 footer-item">
        <div class="item-heading">Send epost</div>
        <span class="divider-sm divider-turquoise"></span>
        <div class="item-body"><a href="">juspost@jus.no</a></div>
      </div>
      
      <div class="col-xs-6 col-sm-4 footer-item">
        <div class="item-heading">Ring</div>
        <span class="divider-sma divider-turquoise"></span>
        <div class="item-body">40 00 26 62</div>
      </div>
      
      <div class="col-xs-6 col-sm-4 footer-item">
        <div class="item-heading">Abonner på vårt</div>
        <span class="divider-sm divider-turquoise"></span>
        <div class="item-body"><a id="showSignup" href="#">Nyhetsbrev</a></div>
      </div>
    </div>
    
    <div class="row">
      <div class="footer-item col-sm-4">
        <div class="hidden-xs logo">
        </div>
      </div>
      
      <div class="col-xs-12 col-sm-8 col-md-6 legal footer-item">
        <p>
          Besøksadresse: Kristian Augusts gate 9, 0164 Oslo
        </p>
        
        <p>
          JUS er <a href="">Advokatforeningens</a>
          og <a href="">Juristforbundets</a> egen organisasjon for
          etterutdanning og kompetanseutvikling.
        </p>
        
      </div>
    </div>
    
  </div>
</footer>

<div class="modal fade" id="newsletter-signup" tabindex="-1" role="dialog" aria-labelledby="signupTitle">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Lukk"><span aria-hidden="true">&#9587;</span></button>
        <h4 class="modal-title" id="signupTitle"><span class="upper">Nyhetsbrev</span><br />fra Juristenes Utdanningssenter</h4>
        
        <span class="divider-lg divider-white divider-center"></span>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group floating-label-form-group">
            <label for="newsletter-email">Epost</label>
            <input type="text" class="form-control" id="newsletter-email" placeholder="Epost">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-jus btn-turquoise">Send <span class="icon icon-arrow-right"></span></button>
      </div>
    </div>
  </div>
</div>
