<div id="a11y-nav"></div>
<header id="header" class="ring-2" role="banner">
  <div class="ring-0 container">
    <div class="menubar">
      <div class="logo">
        <a href="/">
          <img id="logo" src="/img/logo.svg" alt="Logo, Juristenes utdanningssenter" />
        </a>
      </div>
      <div class="menuicons">
        <div class="searchlink">
          <a href="/"><span class="icon icon-search"></span></a>
        </div>
        <div class="hamburger">
          <button id="toggle-mainmenu" class="btn btn-hamburger" aria-expanded="false" aria-controls="mainmenu" aria-label="Knapp for å åpne og lukke meny">
            <span class="dummy">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="colorline">
    <span></span>
    <span></span>
  </div>
  <nav id="mainmenu" role="navigation" aria-hidden="true">
    <div class="container">
      <ul role="menu">
        <li role="menuitem"><a href="" tabindex="-1">Kurs og opplæring</a></li>
        <li role="menuitem"><a href="" tabindex="-1">Rettsområder</a></li>
        <li role="menuitem"><a href="" tabindex="-1">Andre fagtilbud</a></li>
        <li role="menuitem"><a href="" tabindex="-1">Om juss</a></li>
        <li role="menuitem"><a href="" tabindex="-1">Kontakt oss</a></li>
        <li role="menuitem"><a href="/minside/forside.html.twig" tabindex="-1">Min side</a></li>
      </ul>
    </div>
  </nav>
</header>
