.nbeat-project {
    background-color: #f7f7f7;
    
    body {
        background-color: #f7f7f7;
        padding-bottom: 2rem;
    }
    
    .menubar {
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        padding: 2rem 0;

        h1 {
            font-family: "Nationale","Helvetica Neue",Helvetica,Arial,sans-serif !important;
            color: #0000ff;
            font-weight: normal !important;
            font-size: 48px !important;
        }

        #nbeat-logo {
            height: 2.4rem;
        }
    }

    h2.nbeat {
        color: #0000ff;
        font-size: 1.4rem;
    }
}
