h1 {
    font-size: $font-size-h1;
}

a {
    color: $link-color;

    &:hover {
        color: $link-color;
    }

    &.disabled {
        pointer-events: none;
    }
}

body {
    @include nbeat-debug-breakpoint();
}
