@font-face {
    font-family: "Freight Sans";
    src: url("/fonts/FreightSans-Light.eot");
    src: url("/fonts/FreightSans-Light.eot?#iefix") format("embedded-opentype"),
         url("/fonts/FreightSans-Light.woff") format("woff"),
         url("/fonts/FreightSans-Light.ttf") format("truetype"),
         url("/fonts/FreightSans-Light.svg#FreightSans-Light") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Freight Sans";
    src: url("/fonts/FreightSans-Medium.eot");
    src: url("/fonts/FreightSans-Medium.eot?#iefix") format("embedded-opentype"),
         url("/fonts/FreightSans-Medium.woff") format("woff"),
         url("/fonts/FreightSans-Medium.ttf") format("truetype"),
         url("/fonts/FreightSans-Medium.svg#FreightSans-Medium") format("svg");
    font-weight: bold;
    font-style: normal;
}
