{% extends "../layout/default.html" %}

{% block content %}
  {% include "../sections/nav-big.html" %}

<div class="page">
  <div class="container tab-content">
    <div class="tab-pane fade in active" id="tab-learning" role="tabpanel">
      {% include "../sections/searchbar.html" %}
      {% include "../components/frontpage/nav-filter-categories.html" %}
      {% include "../components/frontpage/list-categories.html" %}
    </div>
    <div class="tab-pane fade" id="tab-people" role="tabpanel">
      {% include "../sections/frontpage-people.html" %}
    </div>
  </div>
</div>
{% endblock %}
