.list-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {
        display: inline-block;
    }

    @include bp-max(sm) {
        &.stack-on-mobile {
            li {
                display: block;
            }
        }
    }
}

.list-horizontal-center {
    text-align: center;
}
