<footer id="footer">
  <div class="upper">
    <div class="container">
      <div class="flexwrapper">
        <figure class="logo">
          <img src="/img/logo-glasspaper-white.svg" alt="Logo, Glasspaper" />
        </figure>
        
        <div class="social">
          <a href="#"><img src="/img/icon-facebook.svg" alt="Logo, Facebook" /></a>
          <a href="#"><img src="/img/icon-linkedin.svg" alt="Logo, LinkedIn" /></a>
          <a href="#"><img src="/img/icon-twitter.svg" alt="Logo, Twitter" /></a>
        </div>
      </div>
    </div>
  </div>

  <div class="lower">
    <div class="container">
      <div class="flexwrapper">
        <div class="text">
          Kåret til Årets Microsoft Kurspartner
          2015 / 2014 / 2013 / 2012 / 2011 / 2011 / 2008
        </div>
        
        <div class="footer-links">
          <ul class="columns">
            <li><a href="#">Kurs</a></li>
            <li><a href="#">E-læring</a></li>
            <li><a href="#">Sertifisering</a></li>
            <li><a href="#">Rekruttering</a></li>
            <li><a href="#">Bemanning</a></li>
            <li><a href="#">Oppdrag</a></li>
          </ul>
        </div>
        
        <div class="signup">
          <h2>Nyheter fra Glasspaper</h2>
          <p>
            Les våre siste nyhetsbrev og følg med på nyheter innen IT-kompetanse og karriere.
          </p>

          <p>
            <a href="#">Meld deg på her</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
