footer#footer {
    color: color(white);
    
    .container {
        padding-top: 1.5 * $ui-spacing-sm;
        padding-bottom: 1.5 * $ui-spacing-sm;

        > .flexwrapper {
            @include flexbox();
            @include flex-direction(column);
            @include align-items(center);
            
            @include media-breakpoint-up($ui-bp-up) {
                @include flex-direction(row);
                @include justify-content(space-between);
            }
        }
    }
    
    .upper {
        background-color: color(black-tint-15);

        figure.logo {
            text-align: center;
            width: 100%;
            
            @include media-breakpoint-up($ui-bp-up) {
                text-align: left;
                width: auto;
                margin-bottom: 0;
            }
            
            img {
                @include scale("height", $footer-logo-size, "sm");
            }
        }

        .social {
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
            
            @include media-breakpoint-up($ui-bp-up) {
                @include justify-content(flex-end);
            }
            
            img {
                height: 2.5rem;
                width: 2.5rem;
            }
            
            a + a {
                margin-left: 0.4rem;
            }
        }
    }
    
    .lower {
        background-color: color(black);
        text-align: center;
        padding-top: $ui-spacing-md;
        padding-bottom: $ui-spacing-lg;

        @include media-breakpoint-up($ui-bp-up) {
            text-align: left;
        }
        
        a {
            color: color(white);
        }

        .flexwrapper {
            @include align-items(flex-start);
            position: relative;
        }

        .text {
            @include order(2);
            font-size: $font-size-lg;
            line-height: 1.2;
            margin-top: $ui-spacing-sm;
            width: 100%;
            
            @include media-breakpoint-up(md) {
                @include flex-basis(27%);
                @include order(1);
                margin-top: 0;
                width: auto;
                margin-right: 6%;
            }

            @include media-breakpoint-up(lg) {
                @include flex-basis(25%);
                margin-right: 8%;
            }
        }
        
        .footer-links {
            @include order(1);
            @include nbeat-list-two-columns();
            width: 100%;

            @include media-breakpoint-up($ui-bp-up) {
                @include flex-basis(41.666%);
                @include order(2);
                width: auto;
            }
            
            ul {
                margin: 0;
                padding: 0;
                list-style-type: none;
                
                li {
                    text-align: center;

                    @include media-breakpoint-up($ui-bp-up) {
                        text-align: left;

                        + li {
                            margin-top: 0.5rem;
                        }
                    }
                }
            }
        }

        .signup {
            @include order(3);
            margin-top: $ui-spacing-sm;
            width: 100%;
            
            @include media-breakpoint-up($ui-bp-up) {
                @include flex-basis(25%);
                margin-top: 0;
                width: auto;
            }

            h2 {
                color: color(white);
                text-transform: uppercase;
                margin-bottom: 0;
                font-family: $font-family-sans-serif;
                font-size: $font-size-base;
            }
        }
    }
}
