.menu {
    @include nbeat-menu-togglable();

    .menu-bar {
        .logo {
            @include scale("height", $header-logo-size, "sm");
        }
        
        .menu-button {
            color: color(white);
            font-size: $font-size-h1;
            line-height: 1;
            width: 2rem;
            height: 2rem;
        }
    }

    .menu-data {
        min-width: 50%;
        text-align: right;
        
        ul {
            @include nbeat-list-reset();
            @include justify-content(flex-end);

            @include media-breakpoint-down(sm) {
                padding-top: 3rem;
            }
            
            @include media-breakpoint-up(md) {
                @include nbeat-list-horizontal();
            }
        }

        .menu-item {
            font-size: $font-size-h1;
            color: color(white);
            text-align: center;
            
            @include media-breakpoint-up(md) {
                font-size: $menu-font-size;
                text-align: left;
                width: auto;
            }

            &:after {
                content: "";
                display: block;
                margin: auto;
                width: 0;
                height: 2px;
                background-color: transparent;
                transition: 0.35s ease;
            }

            a {
                color: color(white);
                text-decoration: none;
            }

            &:hover, &.expanded {
                &:after {
                    width: 100%;
                    background-color: color(red);
                }
            }

            .icon {
                height: 0.85rem;
                margin-right: 0.25rem;
            }
        }
    }
}
